#schedule {
  // border: 1px solid #ccc;
  // padding: 20px;
  text-align: center;

  div {
    margin-bottom: 10px;
  }

  input[type="number"],
  input[type="time"],
  input[type="text"],
  select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8e7dc; /* くすんだピンクベージュ */
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #5f5f5f; /* 暗めのグレー */
    box-sizing: border-box;
    outline: none;

    &::placeholder {
      color: #bfbfbf; /* より薄いグレー */
    }
  }

  button {
    width: 100%;
    padding: 12px;
    background-color: #f3b19e; /* くすんだサーモンピンク */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #df8f7b; /* より濃いサーモンピンク */
    }
  }

  .handle-row-buttons {
    margin-top: 10px;
  }

  .flex-buttons {
    button {
      margin: 0 5px;
    }
  }

  h2 {
    margin: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #5f5f5f; /* 暗めのグレー */
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th,
    td {
      padding: 12px;
      border: 1px solid #ccc;
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #5f5f5f; /* 暗めのグレー */
    }

    th {
      background-color: #f4e9e1; /* くすんだベージュ */
      font-weight: bold;
    }

    .main-info-row {
      cursor: pointer;
      transition: background-color 0.3s;

      &.selected,
      &:hover {
        background-color: #e8d6cc; /* より薄いベージュ */
      }

      td:nth-child(2) {
        width: 70%; /* eventの幅を調整 */
        text-align: left;
      }

      .btn-group {
        display: flex;
        justify-content: flex-end;

        button {
          padding: 6px 12px; /* EditボタンとDeleteボタンのパディング調整 */
          font-size: 14px; /* ボタンのフォントサイズ調整 */
        }
      }
    }

    .sub-info-row {
      text-align: left;
      background-color: #fbf6f3; /* より明るいベージュ */

      td {
        padding: 12px;
      }

      div {
        span {
          display: block;
          color: #afafaf; /* より薄いグレー */

          &:first-child {
            font-weight: bold;
          }
      
          a {
              color: rgb(161, 208, 248);
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    /* タブレット以上の画面幅に適用するスタイル */
    max-width: 500px;
    margin: 0 auto;

    input[type="number"],
    input[type="time"],
    input[type="text"],
    select {
      font-size: 18px;
    }

    button {
      padding: 12px 20px;
      font-size: 18px;
    }

    h2 {
      font-size: 24px;
    }
  }
}
