#term-select {
  .plan-discription {
    margin-bottom: 10px;

    label {
      margin-right: 10px;
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #5f5f5f; /* 暗めのグレー */
      align-self: center;
    }
  }
}